@using DefaultProject.Models

<!-- Determine Colors -->
@{
    string color = "unknown";
    @if(@ViewBag.currentMimic.color == 1){
        if (@ViewBag.currentMimic.species == "cyclops"){
            color = "steel";
        }
        else if (@ViewBag.currentMimic.species == "puppy"){
            color = "copper";
        }
        else if (@ViewBag.currentMimic.species == "spike"){
            color = "lava rock";
        }
    }
    else if(@ViewBag.currentMimic.color == 2){
        if (@ViewBag.currentMimic.species == "cyclops"){
            color = "bronze";
        }
        else if (@ViewBag.currentMimic.species == "puppy"){
            color = "silver";
        }
        else if (@ViewBag.currentMimic.species == "spike"){
            color = "patina";
        }
    }
    else if(@ViewBag.currentMimic.color == 3){
        if (@ViewBag.currentMimic.species == "cyclops"){
            color = "manganese";
        }
        else if (@ViewBag.currentMimic.species == "puppy"){
            color = "gold";
        }
        else if (@ViewBag.currentMimic.species == "spike"){
            color = "iron";
        }
    }
}

<!-- Determine Age -->

@{
    string age = "egg.png";
    string ageText = "Egg";
    TimeSpan youth = new TimeSpan(24, 00, 0);
    TimeSpan adult = new TimeSpan(168, 00, 0);
    @if (DateTime.Now - @ViewBag.currentMimic.created_at >= youth && DateTime.Now - @ViewBag.currentMimic.created_at < adult){
            age = "youth.png";
            ageText = "Youth";
    }
    else if (DateTime.Now - @ViewBag.currentMimic.created_at >= adult){
            age = "adult.png";
            ageText = "Adult";
    }
}


<center><h2>@ViewBag.currentMimic.name the <span style="text-transform:capitalize;">@color @ViewBag.currentMimic.species</span> Mimic</h2>
<p>@ViewBag.currentMimic.str strength | @ViewBag.currentMimic.dex dexterity | @ViewBag.currentMimic.inte intelligence | @ageText</p>
<p>Owner: <a href="/profile/@ViewBag.currentMimic.owner.id">@ViewBag.currentMimic.owner.username</a></p>
</center>

<div class="left" style="width: 50%; display: inline-block; vertical-align: top; margin-right: 20px;">



<div class="mimic-containment-page" style="margin: 0px auto;">
    <div class="mimic-page">
        <img src="~/images/mimics/@ViewBag.currentMimic.species/@ViewBag.currentMimic.color/@age">
    </div>
</div>

<center><h4>Level: @ViewBag.currentMimic.lvl</h4></center>

</div>

<div class="right" style="width: 45%; display: inline-block; vertical-align: top;">

<center>
    
    <h4>Status</h4><br>

</center>
<div style="margin: 0px auto; width: 250px;">
    <center><p>XP: @ViewBag.percentXP%</p></center>
<div class="w3-light-grey" style="margin-top: -39px;">
  <div class="w3-container w3-green w3-center" style="height:24px;width: @ViewBag.percentXP%;overflow: visible;"></div>
</div>
<br>
<center><p><i class="fas fa-heart"></i> @ViewBag.currentMimic.hp / 10</p></center>
<div class="w3-light-grey" style="margin-top: -39px;">
  <div class="w3-container w3-red w3-center" style="height:24px;width: @ViewBag.percentHP%;overflow: visible;"></div>
</div>
<br>
<center><p><i class="fas fa-cookie-bite"></i> @ViewBag.currentMimic.hunger / 10</p></center>
<div class="w3-light-grey" style="margin-top: -39px;">
  <div class="w3-container w3-blue w3-center" style="height:24px;width: @ViewBag.percentHunger%;overflow: visible;"></div>
</div>
</div>
<br>

<center>
<!-- <p>
    <br>
<i class="fas fa-heart"></i> @ViewBag.currentMimic.hp / 10 &nbsp; &nbsp; &nbsp; &nbsp; <i class="fas fa-cookie-bite"></i> @ViewBag.currentMimic.hunger / 10
</p> -->
    
    <h4>Actions</h4><br>



@{
@if (@ViewBag.currentMimic.owner.id == @ViewBag.currentUser.id && @ViewBag.currentMimic.owner.potions > 0 && @ViewBag.currentMimic.hp < 10){
    <a href="/heal/@ViewBag.currentMimic.id" class="btn btn-primary">Heal</a>
    }
    else if (@ViewBag.currentMimic.owner.id == @ViewBag.currentUser.id && @ViewBag.currentMimic.owner.potions <= 0){
        <button class="btn btn-secondary" style="background-color: #DDD; color: #AAA;">Heal</button>
    }
    else if (@ViewBag.currentMimic.hp >= 10){
        <button class="btn btn-secondary" style="background-color: #DDD; color: #AAA;">Heal</button>
    }

@if (@ViewBag.currentMimic.owner.id == @ViewBag.currentUser.id && @ViewBag.currentMimic.owner.food > 0 && @ViewBag.currentMimic.hunger < 10){
    <a href="/feed/@ViewBag.currentMimic.id" class="btn btn-success">Feed</a>    
}
    else if (@ViewBag.currentMimic.owner.id == @ViewBag.currentUser.id && @ViewBag.currentMimic.owner.food <= 0){
        <button class="btn btn-secondary" style="background-color: #DDD; color: #AAA;">Feed</button>
    }
    else if (@ViewBag.currentMimic.hunger >= 10){
        <button class="btn btn-secondary" style="background-color: #DDD; color: #AAA;">Feed</button>
    }


}

</center>

</div>
